
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: rgba(128, 128, 128, 1);/*grey; rgb(245, 179, 58);*/
    background-image: url(/ASSETS/IMG/DIVERSOS/imagem-de-fundo-convertida.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Estilos gerais para todos os títulos */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Títulos devem ser destacados */
    color: #222; /* Cor mais escura para visibilidade */
    margin-bottom: 15px; /* Espaço abaixo do título */
    line-height: 1.2; /* Altura da linha adequada para leitura */
}

/* Título principal (h1) - geralmente o maior destaque */
h1 {
    font-size: 2.5rem; /* Tamanho grande para destaque */
    color: #333; /* Pode usar uma cor diferente para destaque */
    text-transform: uppercase; /* Maiúsculas para dar ênfase */
    margin-top: 20px;
}

/* Título secundário (h2) - um pouco menor que o h1 */
h2 {
    font-size: 2rem;
    color: #333; /* Tom mais suave, mas ainda visível */
    margin-top: 15px;
}

/* Título terciário (h3) - bom para subtítulos */
h3 {
    font-size: 1.75rem;
    color: #333; /* Cor padrão para manter hierarquia */
    margin-top: 10px;
}

/* Títulos menores (h4, h5, h6) - menos proeminentes, mas ainda importantes */
h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
    text-transform: uppercase; /* Pode usar maiúsculas para dar ênfase */
    color: #555;
}

/* Espaçamento para mobile, ajustando tamanho dos títulos */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.buttonOP {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}

.buttonOP .button {
    background-color: #ff9800;
    border: none;
    color: #34383d;
    padding:5px 5px 0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    border-radius: 50%; /*Circular */
    width: 100px; /*Diâmetro do círculo */
    height: 100px; /*Diâmetro do círculo */
    line-height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botões ocultos*/
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;/*#707780;*/
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.button:hover {
    background-color: #191b1d;
    color: #ff9800;
}


.button {
    padding: 10px 20px;
    /*background-color: #007BFF;*/
    color: #34383d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}

.button-no-hidden:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button-no-hiddenOP:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Inicialmente, os botões ocultos estão invisíveis */
.hidden-buttons {
    display: none;
}

.button-no-hidden{
    background-color: #34383d;
    color: #ff9800;
    border: solid 2px #ff9800;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.button-no-hiddenOP{
    background-color: #34383d;
    color: #ff9800;
    border: solid 2px #ff9800;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


/*---------------------------------------------- imagem centralizada logo------------------------------*/
/* Centralizando a imagem na tela */
.body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: #f5f5f5;  Cor de fundo do corpo */
    margin: 0;
}

.image-container {
    margin-top: 40px;
    background-color: white;  /*Fundo branco ao redor da imagem */
    padding: 20px;
    border-radius: 50%; /* Deixa a borda circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 200px; /* Largura da imagem */
    height:200px; /* Altura da imagem */
    object-fit: contain; /* Garante que a imagem ocupe o espaço */
    border-radius: 50%; /* Deixa a imagem oval */
}



/*DAQUI DAQUI*/



/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .hidden-buttons {
        bottom: 100px;
        right: 15px;
    }
}


/* Define a imagem de fundo */
/* Estilo para a imagem de fundo */
.background-image {
    /*position: relative;*/
    width: 100%;
    height: 100vh; /* Faz com que a imagem ocupe toda a altura da viewport */
    /*background-image: url('/ASSETS/IMG/DIVERSOS/imagem-de-fundo-convertida.jpg');  Caminho para a sua imagem */
    background-size: cover;  /*Garante que a imagem cubra toda a tela, cortando se necessário */
    background-position:center;  /*Centraliza a imagem */
}


/* Overlay cinza transparente */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7); /* Cor cinza com transparência (0.7) */
    z-index: 1; /* Coloca o overlay acima da imagem */
}

/* Conteúdo que aparece sobre a imagem e o overlay */
.content {
    position: relative;
    z-index: 2; /* Coloca o conteúdo acima do overlay */
    color: white; /* Cor do texto */
    text-align: center;
    top: 50%;
    transform: translateY(-50%); /* Centraliza o texto verticalmente */
}


